@import "tailwindcss";

@theme {
  --font-display: 'Syne', sans-serif;
  --font-sans: 'Inter', sans-serif;
}

/* Scrollbar hiding utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
